.containers{
    display: flex;
    justify-content: space-between;
}
.slogan{
    font-size: 30px;
    font-weight: 500;
    margin:15%;
}










.btn{

    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #756262;
    background-color: #0000000c;
    padding: 14px 54px;
    border: solid #636d70 0.1px;
    /* box-shadow: rgb(0 0 0 / 20%) 0px 12px 28px 0px, rgb(0 0 0 / 10%) 0px 2px 4px 0px, rgb(255 255 255 / 5%) 0px 0px 0px 1px inset; */
    border-radius: 50px;
    transition: 487ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.btn:hover{

transition : 487ms;
/* padding: 10px 26px; */
transform : translateY(-15px);
background-color: #679aba;
color: #ffffff;
border: solid 0.4px #0066cc;
}
.sub-text{
    
    text-align: -webkit-center;
    /* margin: -31%; */
    font-weight: 300;
    font-family: system-ui;
    font-size: 19px;
}



.btn1{

font-family: Roboto, sans-serif;
font-weight: 600;
font-size: 14px;
color: #777f8a;
background-color: #ffffff0c;
padding: 10px 30px;
border: none;
box-shadow: none;
border-radius: 50px;
transition : 487ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btn1:hover{

transition : 487ms;

transform : translateY(-15px);

color: #777f8a;

}



